const config = {
  db: {
    host: 'localhost',
    user: 'root',
    password: '7A7PX9VsNhhSeGDL',
    database: 'plantdb',
    port: 3306, // Default MySQL port
  },
  listPerPage: 10,
};
module.exports = config;